h1{
    text-align: center;
    margin: 30px;
    font-family: Arial, sans-serif;
    color: greenyellow;
    border: 1px solid black;
    border-radius: 30px;
    width: max-content;
    padding: 15px;
    margin: 0 auto;
    
    
}

body{
    background-color: beige;
}

